.wrapper {
  height: 100%;
}

.tabList {
  display: flex;
  height: 100%;
}

.statusBar {
  position: relative;
  background-color: #eee;
  margin-top: -4px;
  height: 4px;
  pointer-events: none;
}

.hoverMarkBar {
  display: flex;
  width: 100%;
  height: 4px;
  pointer-events: none;
}

.selectedMarkBar {
  display: flex;
  width: 100%;
  height: 4px;
  margin-top: -4px;
  pointer-events: none;
}

.activeMark {
  background-color: #33ff33;
  border-radius: 2px;
  height: 4px;

  transition: width 0.25s, left 0.25s, right 0.25s;
}

.hoverOn {
  background-color: #CCFFCC;
  border-radius: 2px;
}
